@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    --accentColor: #001233;
    --primaryColor: #FF595A;
    --secondaryColor: #CAC0B3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    width: 280px; height: 500px;
    background-color: var(--accentColor);
}

#onOffButton {
    width: 50%;
    height: 20%;
    position: relative;
    display: inline-block;
}

.roundSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondaryColor);
    -webkit-transition: .3s;
    transition: .4s;
}